nav{
    display: flex;
    justify-content: space-between;
}

#nav-left{
    display: flex;
    background-color: tomato;
}

#nav-right{
    display: flex;
    flex-direction: row;
}

#container-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-strip{
    background-color: green;
    display: flex;
}

#main-strip{
    background-color: purple;
}

#footer-strip{
    background-color: orange;

}